 .App {
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);
  height: 100vh;
  margin-top: 0px;
}

.conteneur{
  display: flex;
  padding-top: 30px;
}

.icons{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 20%;
  margin-left: 50px;
  
}

.icons button{
  width: 65px;
  background: none;
  border: none;
  cursor: pointer;
}
.icons img{
  height: 60px;
  width: 60px;
}

h1{
  font-size: 60px;
  color: white;
}

h2{
  color: white;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
